.dashboard{
    display: flex;
    gap: 20px;
}

.dashboardContent{
    background: #fff;
    flex: 1;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .dashboardContent {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .dashboard {
        flex-direction: column;
    }
    .dashboardContent {
        padding: 1rem;
    }
}